@using FinalProject.MVC.Settings
@using FinalProject.MVC.ViewModels

@model EditProductViewModel

@{
    ViewData["Title"] = "Edit Product";
}

<h5>
    Edit a product
</h5>

<form asp-controller="Product" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Name" class="form-label mt-2"></label>
                <input type="text" class="form-control" asp-for="Name" placeholder="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label mt-2" asp-for="CategoryId"></label>
                <select class="form-select" asp-for="CategoryId" asp-items="Model.Categories"
                        data-placeholder="Select a category" data-minimum-results-for-search="Infinity">
                    <option value=""></option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="form-label mt-2"></label>
                <input type="text" class="form-control" asp-for="Price" placeholder="Price">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="form-label mt-2"></label>
                <textarea asp-for="Description" class="form-control" placeholder="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="form-label mt-2"></label>
                <input type="file" class="form-control" asp-for="Image"
                       data-rule-extension="@FileSettings.AllowedExtensions.Replace(".", string.Empty)"
                       data-msg-extension="Not allowed extension"
                       data-rule-filesize="@FileSettings.MaxFileSizeInBytes"
                       data-msg-filesize="Maximum allowed size is @FileSettings.MaxFileSizeInMB MB">
                <small class="form-text text-muted">Only @FileSettings.AllowedExtensions files are allowed with max size @(FileSettings.MaxFileSizeInMB)MB.</small>
                <span asp-validation-for="Image" class="text-danger d-block"></span>
            </div>
            <button type="submit" class="btn btn-primary rounded-2 mt-2">Save</button>
        </div>
        <div class="col-md-6 d-flex justify-content-center pt-4 overflow-hidden">
            <img class="image-preview " alt="Cover" src="@($"{FileSettings.ImagesPath}/{Model.CurrentImage}")" />
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('#Image').on('change', function () {
                $('.image-preview').attr('src', window.URL.createObjectURL(this.files[0])).removeClass('d-none');
            });
        });
        $.validator.addMethod('filesize', function (value, element, param) {
            return this.optional(element) || element.files[0].size <= param;
        });
    </script>
}